.bg-container {
  background-color: #07080c;
  min-height: 100vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.image {
  height: 200px;
  width: 450px;
}

.speed-status {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
}

.speed-limit {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
  padding: 20px;
}

.button {
  height: 35px;
  width: 90px;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  border-width: 0px;
}

.button-apply {
  height: 35px;
  width: 90px;
  background-color: transparent;
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #94a3b8;
  margin-left: 16px;
}

.content-container {
  text-align: center;
}
